li {
    font-size: 30px;
 color: antiquewhite;  
 margin-bottom: 40px; 
}

.box {
height: 10px;
width: ;
background-color: blanchedalmond;
margin-top: 10px;
margin-bottom: 10px;
}

.text1 {

    font-size: 25px;
    color: antiquewhite;
    margin-bottom: 5px;

}

.text2 {
font-size: 20px;
color: aquamarine;

}

.textg {
    font-size: 15px;
    color: brown;
    margin
}